<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    {% extends "main.html" %}
    {% block content %}
        <main>
            <div id="about">
                <p>
                    This website is made as a project for my internship at wooppay.com and is a filter for a given csv file containing a list of netflix shows and movies that can be manipulated and sent to the user's pc.
                </p>
            </div>
        </main>
    {% endblock %}
</body>
</html>