<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {% extends "main.html" %}
    {% block content %}
        <h2>
            <form action="{{url_for('filter')}}" method="POST">
                <table>
                    <tr>
                        <td>
                            <div class="filters">
                                Sort by:
                                <select name="sortby">
                                    <option value="">
                                        No Sort
                                    </option>
                                    <option value="release_date">
                                        Date
                                    </option>
                                    <option value="title">
                                        Title
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="filters">
                                <input type="checkbox" name="reversesort" value="1" checked/>
                                Reverse sort?
                            </div>
                        </td>
                        <td>
                            <div class="filters">
                                Filter by:
                                <select name="filterer">
                                    <option value="">
                                        No Filter
                                    </option>
                                    <option value="Movie">
                                        Movie
                                    </option>
                                    <option value="TV Show">
                                        TV Show
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="filters">
                                <input id="searchbar" type="text" name="searchbar" placeholder="Search..."/>
                            </div>
                        </td>
                        <td>
                            <div class="filters">
                                Search in:
                            </div>
                        </td>
                        <td>
                            <div class="filters">
                                <input type="radio" name="searchwhere" value="title" checked/>
                                Title
                            </div>
                        </td>
                        <td>
                            <div class="filters">
                                <input type="radio" name="searchwhere" value="country"/>
                                Country
                            </div>
                        </td>
                        <td>
                            <div class="filters">
                                <input type="radio" name="searchwhere" value="listed_in"/>
                                Genre
                            </div>
                        </td>
                        <td>
                            <div class="filters">
                                <input type="radio" name="searchwhere" value="cast"/>
                                Cast
                            </div>
                        </td>
                        <td>
                            <div class="filters">
                                <input type="radio" name="searchwhere" value="description"/>
                                Description
                            </div>
                        </td>
                        <td>
                            <input id="submitbutton" type="submit" value="Submit"/>
                        </td>
                    </tr>
                </table>
            </form>
        </h2>
        <main>
            <div id="contents">
                {% for movie in mlist %}
                <a href="{{ 'https://www.netflix.com/kz/title/{0}'.format(movie['ID']) }}" target="_blank">
                <table>
                    <tr>
                        <td>
                            {{movie['type']}}
                        </td>
                        <td colspan="2">
                            {{movie['title']}}
                        </td>
                        <td>
                            {{movie['release_year']}}
                        </td>
                        <td>
                            {{movie['cast']}}
                        </td>
                        <td rowspan="2">
                            {{movie['description']}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{movie['rating']}}
                        </td>
                        <td>
                            {{movie['country']}}
                        </td>
                        <td>
                            {{movie['listed_in']}}
                        </td>
                        <td>
                            {{movie['duration']}}
                        </td>
                        <td>
                            {{movie['director']}}
                        </td>
                    </tr>
                </table>
                </a>
                {% endfor %}
            </div>
        </main>
    {% endblock %}
</body>
</html>