<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% extends "main.html" %}
    {% block content %}
        <main id="login">
            <div>
                <form action="{{url_for('login')}}" method="POST">
                    <input class="bar" type="text" name="nickname" placeholder="Nickname or email"/>
                    <input class="bar" type="password" name="password" placeholder="Password"/>
                    <input id="submitbutton" type="submit" value="Submit"/>
                </form>
                <a href="{{url_for('register')}}"><button>Don't have an account?</button></a>
            </div>
        </main>
    {% endblock %}
</body>
</html>