<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
</head>
<body>
    {% extends "main.html" %}
    {% block content %}
        <main>
            <div id="privacy">
                <p>
                    PRIVACY POLICY
                </p>
                <p>
                    This website will collect your personal data such as your email address and name for use in the profile system of the website. This information is not shared with any outside system intentionally. The data may be subject to viruses and the user should be aware and acknowledge that the data they share is not protected. The user has all the rights to their own data and is free to remove it from the database if such a need arises. For further information contact netflixffilter@gmail.com
                </p>
            </div>
        </main>
    {% endblock %}
</body>
</html>